.pick{background:url(../img/sprite.png) no-repeat ;height:30px;width:30px;background-position:0 -210px;}
.area{background:url(../img/sprite.png) no-repeat ;height:30px;width:30px;background-position:0 -150px;}
.msg{background:url(../img/sprite.png) no-repeat ;height:30px;width:30px;background-position:0 -270px;}
.sound{background:url(../img/sprite.png) no-repeat ;height:30px;width:30px;background-position:0 -60px;}
.charge{background:url(../img/sprite.png) no-repeat ;height:30px;width:30px;background-position:0 -240px;}
.money{background:url(../img/sprite.png) no-repeat ;height:30px;width:30px;background-position:0 -300px;}
.help{background:url(../img/sprite.png) no-repeat ;height:30px;width:30px;background-position:0 -180px;}
.recommend{background:url(../img/sprite.png) no-repeat ;height:30px;width:30px;background-position:0 0px;}
.about{background:url(../img/sprite.png) no-repeat ;height:30px;width:30px;background-position:0 -120px;}
.law{background:url(../img/sprite.png) no-repeat ;height:30px;width:30px;background-position:0 -90px;}
.exit{background:url(../img/sprite.png) no-repeat ;height:30px;width:30px;background-position:0 -30px;}